#vscoronavirus-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 1em;
  background: #ffeb3b;
  color: #333333;
  font-family: sans-serif;
  z-index: 1;
  box-shadow: 0 0 0.5em rgba(0,0,0,0.2);
  box-sizing: border-box;
}

#vscoronavirus-banner div.vscoronavirus-content {
  margin: 0 auto;
  max-width: 1024px;
  position: relative;
}

#vscoronavirus-banner div.vscoronavirus-content h2 {
  margin: 0;
  max-width: 80%;
  padding-right: 1em;
  font-size: 18px;
  font-weight: bold;
}

#vscoronavirus-banner div.vscoronavirus-content p {
  margin: 1em 0 0 0;
  font-size: 16px;
}

#vscoronavirus-banner div.vscoronavirus-content a {
  text-decoration: underline;
  font-weight: bold;
  color: #005eb8;
}

#vscoronavirus-banner div.vscoronavirus-content a:hover {
  background-color: #005eb8;
  box-shadow: 0 0 0 4px #005eb8;
  color: #fff;
}

#vscoronavirus-close {
  position: absolute;
  right: 0;
  top: 0;
  font-weight: bold;
}